@font-face {
  font-family: "Tagesschrift", system-ui;
  src: url("../fonts/Tagesschrift.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
